VAGRANT:
  BOX: ubuntu/trusty64
  OS: ubuntu/trusty
  IP: 192.168.56.2
  CPU: 1
  MEMORY: 1024
  GUI: true
  FS_NOTIFY: true
SITES:
  COUNT: 1
  BASE_DOMAIN: vagrant-common.loc
  BASE_PATH: /var/www/
  SITE_1:
    DOMAIN: ${SITES__BASE_DOMAIN}
    DIR: ${SITES__SITE_1__DOMAIN}
    PATH: ${SITES__BASE_PATH}${SITES__SITE_1__DOMAIN}/
    DRUPAL: NO
    NPM: NO
    PORT: 3000
    DB:
      NAME: vagrant
      USER: vagrant_usr
      PASS: 123456q
      PROVISION_RESET: YES
DB:
  USER: root
  PASS: 123456q
  PROVISION_RESET: YES
PACKAGES:
  MC: NO
  HTOP: NO
  GIT: YES
  VIM: NO
  APACHE2: YES
  NGINX: YES
  MARIADB:
    INSTALL: YES
    VERSION: 10.2
  PHP:
    INSTALL: YES
    VERSION: 7.2
  COMPOSER: NO
  REDIS: NO
  NODEJS:
    INSTALL: NO
    VERSION: 10
  PM2: YES
  HIGHCHARTS_EXPORT_SERVER:
    INSTALL: NO
    VERSION: latest
  SENDMAIL: YES
  PHPMYADMIN: YES
  MAILHOG: YES
  MAILCATCHER: NO
  DRUSH:
    INSTALL: NO
    VERSION: 9.x
  WP_CLI: NO