VAGRANT:
  BOX: ubuntu/focal64
  OS: ubuntu/focal
  IP: 192.168.56.101
  CPU: 1
  MEMORY: 1024
  GUI: true
  FS_NOTIFY: false
  HOSTNAME: site.loc
SITES:
  COUNT: 3
  BASE_PATH: /var/www/
  SITE_1:
    DOMAIN: site.loc
    ROOT: /
    DB:
      NAME: vagrant
      USER: vagrant_usr
      PASS: 123456q
      PROVISION_RESET: YES
  SITE_2:
    DOMAIN: drupal.site.loc}
    ROOT: /web
    DRUPAL: YES
    DB:
      NAME: drupal
      USER: drupal_usr
      PASS: 123456q
      PROVISION_RESET: YES
  SITE_3:
    DOMAIN: vue.site.loc
    ROOT: /
    NPM: YES
    PORT: 3000
DB:
  USER: root
  PASS: 123456q
  PROVISION_RESET: YES
PACKAGES:
  MC: YES
  HTOP: YES
  GIT: YES
  VIM: YES
  APACHE2: YES
  NGINX: YES
  MARIADB:
    INSTALL: YES
    VERSION: 10.4
  MYSQL:
    INSTALL: NO
    VERSION: 8.0
  PHP:
    INSTALL: YES
    VERSION: 7.4
  COMPOSER: YES
  REDIS: YES
  NODEJS:
    INSTALL: NO
    VERSION: 10
  PM2: NO
  HIGHCHARTS_EXPORT_SERVER:
    INSTALL: NO
    VERSION: latest
  SENDMAIL: YES
  PHPMYADMIN: YES
  MAILHOG: YES
  MAILCATCHER: NO
  DRUSH:
    INSTALL: NO
    VERSION: 9.x
  WP_CLI: NO